body {
  font-size: 13px;
  padding-top: 100px;

  .dropdown-menu {
    font-size: 13px;
  }

  .jumbotron {
    top: -50px;
    position: relative;
  }
}

h2 {
  hr {
    margin: 20px 0 30px;
  }
}

label abbr {
  display: none;
}

a.cancel {
  margin-left: 10px;
}

ul.pagination {
  margin: 20px 0 30px;
}

.footer {
  background-color: #f5f5f5;
  bottom: 0;
  font-size: 12px;
  height: 60px;
  line-height: 30px;
  width: 100%;
}

dl hr {
  width: 100%;
}
