nav.navbar.navbar-expand-lg.bg-body-tertiary.fixed-top data-bs-theme="dark"
  .container-fluid
    = link_to 'Starter Kit', root_path, class: 'navbar-brand'
    button.navbar-toggler[type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"]
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle[href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"]
            |  Admin
          ul.dropdown-menu
            li = link_to 'Calendar dates', calendar_dates_path, class: 'dropdown-item'
            li = link_to 'Scheduled jobs', scheduled_jobs_path, class: 'dropdown-item'
            li = link_to 'Users', users_path, class: 'dropdown-item'
            li
              a.dropdown-item href="/pghero" target="_blank" PgHero
            li
              a.dropdown-item href="/sidekiq" target="_blank" Sidekiq
      form.d-flex[role="search"]
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            - if user_signed_in?
              li.nav-item
                = link_to destroy_user_session_path, class: 'nav-link' do
                  i.fa.fa-power-off.fa-lg
                  |  Sign out
            - else
              li.nav-item
                = link_to new_user_session_path, class: 'nav-link' do
                  | Sign in
